/*Body*/

body {
  font-family: "Roboto", sans-serif;
}

/*-------------------------*/

/*Cabeçalho*/

.caixa-inicial {
  background-image: linear-gradient(180deg, #d8d8d8, #bda8e0);
  width: 100%;
  height: auto;
  text-align: center;
}

.titulo-principal {
  padding: 40px 10px;
  font-weight: bold;
  color: #5b3c88;
  font-size: 22px;
  display: inline-block;
  width: 80%;
  line-height: 1.4;
}

/*-------------------------*/

/*Principal*/

.principal {
  width: 90%;
  margin: 120px auto 30px;
  text-align: justify;
}

.principal-inicial {
  width: 90%;
  margin: 30px auto;
  text-align: justify;
}

.principal-clientes {
  width: 90%;
  margin: 30px auto;
  text-align: justify;
}

.principal-projetos {
  width: 90%;
  margin: 30px auto 0;
  text-align: justify;
}

.principal-contato {
  width: 90%;
  margin: 0 auto 30px;
  text-align: justify;
}

.subtitulo-principal {
  font-weight: bold;
  color: #5b3c88;
  font-size: 20px;
  display: block;
  line-height: 1.4;
  text-align: center;
}

.subtitulo-secundario {
  font-weight: bold;
  color: #5b3c88;
  font-size: 18px;
  display: block;
  line-height: 1.4;
  text-align: center;
  margin-top: 40px;
}

/*Conteudo Texto*/

.paragrafo-container {
  width: 70%;
  margin: 0 auto;
}

.imagem-principal {
  width: 100px;
  float: left;
  padding: 0 15px;
}

.paragrafo {
  margin: 20px auto;
  font-size: 18px;
  line-height: 1.5;
}

.destaque {
  font-weight: bold;
  color: #5b3c88;
}

.text-link {
  cursor: pointer;
}

.destaque-italic {
  font-style: italic;
}

/*-------------------------*/

.links-homepage {
  display: block;
  background: #5b3c88;
  position: relative;
  text-align: center;
  font-size: 16px;
  padding: 25px 15px;
  margin: 15px auto;
  line-height: 1.3;
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  border: solid 1px;
  border-radius: 10px;
  box-shadow: inset 0 0 10px #ffffff;
  width: 350px;
  text-transform: uppercase;
}

.links-homepage:hover {
  background-image: linear-gradient(180deg, #d8d8d8, #bda8e0);
  box-shadow: inset 0 0 10px #5b3c88;
  color: #5b3c88;
}

.tooltip-container {
  position: relative;
  display: block;
  text-align: center;
  width: 100%;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip span {
  max-width: 300px;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  bottom: 95%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #000;
  color: #fff;
  padding: 6px;
  border-radius: 4px;
  transition: opacity 0.3s, visibility 0.3s;
}

.tooltip:hover span {
  visibility: visible;
  opacity: 1;
}

.tooltip span::before {
  content: "";
  position: absolute;
  left: 45%;
  bottom: -5px;
  width: 18px;
  height: 18px;
  transform: rotateZ(45deg);
  background-color: #000;
  border: 0px solid #000;
  z-index: -1;
}

/*Contato*/

.contato {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.paragrafo-contato {
  margin-bottom: 5px;
}

.logo-contato {
  width: 50px;
}

/*-------------------------*/

/*-------------------------*/

/*Rodapé*/

.caixa-footer {
  text-align: center;
  background-color: #d8d8d8;
  margin: 50px 0 0 0;
  padding: 10px 0 10px;
  width: 100%;
  background-image: linear-gradient(180deg, #d8d8d8, #bda8e0);
}

.texto-footer {
  margin: 10px auto;
  font-weight: bold;
  font-style: italic;
  font-size: 14px;
  color: #5b3c88;
}

.logo-footer {
  width: 50px;
}

/*-------------------------*/

/*Escondendo scrollbar*/

::-webkit-scrollbar {
  display: none;
}

/*-------------------------*/

/*Acessando em resolução menor*/

@media screen and (max-width: 900px) {
  .principal {
    margin-top: 130px;
  }

  .paragrafo-container {
    width: 90%;
  }
}

/*Acessando pelo celular*/

@media screen and (max-width: 480px) {
  .principal {
    margin-top: 170px;
  }

  .tooltip {
    width: 100%;
  }

  .links-homepage {
    width: 80%;
  }
}

@media screen and (max-width: 300px) {
  .principal {
    margin-top: 200px;
  }
}
