/*Body*/

body {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
}

/*-------------------------*/

/*Cabeçalho*/

.caixa-inicial {
  background-image: linear-gradient(180deg, #d8d8d8, #bda8e0);
  width: 100%;
  height: auto;
  text-align: center;
}

.caixa {
  background-image: linear-gradient(180deg, #d8d8d8, #bda8e0);
  width: 100%;
  height: auto;
  text-align: center;
  position: fixed;
  top: 0;
  transition: top 0.8s;
}

.titulo-principal {
  padding: 40px 10px;
  font-weight: bold;
  color: #5b3c88;
  font-size: 22px;
  display: inline-block;
  width: 80%;
  line-height: 1.4;
}

.botao-home {
  width: 30px;
  cursor: pointer;
  position: fixed;
  right: 20px;
  top: 10px;
  transition: all 0.8s;
}

.btn-container {
  width: 30px;
  cursor: pointer;
  position: fixed;
  right: 20px;
  top: 50px;
  transition: all 0.8s;
}

.btn-container button {
  height: 15px;
  font-size: 10px;
  cursor: pointer;
  width: 30px;
  padding: 0;
  color: #ffffff;
  border: 1px solid #bda8e0;
  border-radius: 5px;
  background-color: #5b3c88;
  box-shadow: inset 0 0 2px #ffffff;
}

#decrease-font {
  transition: all 0.5s;
  cursor: zoom-out;
}

#increase-font {
  transition: all 0.5s;
  cursor: zoom-in;
  margin-bottom: 10px;
}

/*-------------------------*/

/*Conteudo Texto*/

.paragrafo {
  margin: 20px auto;
  font-size: 1.125em;
  line-height: 1.5;
}

.destaque {
  font-weight: bold;
  color: #5b3c88;
}

.text-link {
  cursor: pointer;
}

.destaque-italic {
  font-style: italic;
}

.paragrafo-gravura {
  text-align: center;
}

.gravuras {
  width: 300px;
  display: inline-block;
  margin: 10px auto;
}

/*-------------------------*/

/*Rodapé*/

.caixa-footer {
  text-align: center;
  background-color: #d8d8d8;
  margin: 10px 0 0 0;
  padding: 10px 0 10px;
  width: 100%;
  background-image: linear-gradient(180deg, #d8d8d8, #bda8e0);
}

.texto-footer {
  margin: 10px auto;
  font-weight: bold;
  font-style: italic;
  font-size: 14px;
  color: #5b3c88;
}

.logo-footer {
  width: 50px;
  margin-top: 30px;
}

/*-------------------------*/

/*Seleção de esboços*/

.principal-inicial {
  width: 90%;
  margin: 30px auto;
  text-align: justify;
}

.subtitulo-principal {
  font-weight: bold;
  color: #5b3c88;
  font-size: 20px;
  display: block;
  line-height: 1.4;
  text-align: center;
}

.subtitulo-secundario {
  font-weight: bold;
  color: #5b3c88;
  font-size: 18px;
  display: block;
  line-height: 1.4;
  text-align: center;
  margin-top: 40px;
}

.principal {
  width: 90%;
  margin: 120px auto 30px;
  text-align: justify;
}

.esbocos {
  display: block;
  background: #5b3c88;
  position: relative;
  text-align: center;
  font-size: 16px;
  padding: 25px 15px;
  margin: 50px auto;
  line-height: 1.3;
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  border: solid 1px;
  border-radius: 10px;
  box-shadow: inset 0 0 10px #ffffff;
  width: 60%;
}

.esbocos:hover {
  background-image: linear-gradient(180deg, #d8d8d8, #bda8e0);
  box-shadow: inset 0 0 10px #5b3c88;
  color: #5b3c88;
}

/*-------------------------*/

/*Meun Referencia*/

.menu-referencia {
  z-index: 9998;
  display: block;
  width: 40%;
  height: 100%;
  position: fixed;
  top: 0;
  right: -900px;
  background-color: #d8d8d8;
  text-align: left;
  padding: 10px;
  transition: right 0.8s;
  line-height: 1.4;
  background-image: linear-gradient(180deg, #d8d8d8, #bda8e0);
  overflow-y: scroll;
}

.botao-voltar {
  width: 30px;
  cursor: pointer;
  bottom: 20px;
  right: -100px;
  position: fixed;
  transition: ri 0.8s;
}

.referencia {
  margin: 20px auto 50px;
  padding: 5px;
  display: none;
}

.titulo-referencia {
  font-weight: bold;
  font-size: 1.2em;
  color: #5b3c88;
  padding: 10px 0;
  border-bottom: solid 5px;
  text-align: center;
}

.paragrafo-referencia {
  font-style: italic;
  font-weight: bold;
  margin: 10px;
}

.destaque-referencia {
  font-weight: bold;
  font-size: 1.1em;
  color: #5b3c88;
  margin-right: 5px;
}

/*-------------------------*/

/*Cronometro*/

.cronometro {
  z-index: 9999;
  background-color: #bda8e0;
  border-radius: 10px;
  text-align: right;
  padding: 10px;
  display: block;
  position: fixed;
  bottom: 10px;
  right: 20px;
  font-weight: bold;
  width: 100px;
  color: #5b3c88;
  text-align: center;
  font-size: 16px;
}
.cronometro button {
  background-color: #5b3c88;
  color: #d8d8d8;
  font-weight: bold;
  padding: 1px 0 0 0;
}

.controle-cronometro {
  width: 20px;
}

/*-------------------------*/

/*Escondendo scrollbar*/

::-webkit-scrollbar {
  display: none;
}

/*-------------------------*/

/*Acessando em resolução menor*/

@media screen and (max-width: 900px) {
  .principal {
    margin-top: 130px;
  }
}

/*Acessando pelo celular*/

@media screen and (max-width: 480px) {
  .principal {
    margin-top: 170px;
  }

  .gravuras {
    width: 150px;
  }

  .menu-referencia {
    width: 40%;
  }
}

@media screen and (max-width: 300px) {
  .principal {
    margin-top: 200px;
  }
}
