/*Body*/

body {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
}

/*-------------------------*/

/*Cabeçalho*/

.caixa-inicial {
  background-image: linear-gradient(180deg, #d8d8d8, #bda8e0);
  width: 100%;
  height: auto;
  text-align: center;
}

.titulo-principal {
  padding: 40px 10px;
  font-weight: bold;
  color: #5b3c88;
  font-size: 22px;
  display: inline-block;
  width: 80%;
  line-height: 1.4;
}

/*-------------------------*/

/*Conteudo Texto*/

.paragrafo-container {
  width: 70%;
  margin: 0 auto;
}

.imagem-principal {
  width: 100px;
    float: left;
    padding: 0 15px;
}

.paragrafo {
  margin: 20px auto;
  font-size: 1.125em;
  line-height: 1.5;
}

.destaque {
  font-weight: bold;
  color: #5b3c88;
}

.text-link {
  cursor: pointer;
}

.destaque-italic {
  font-style: italic;
}

/*-------------------------*/

/*Rodapé*/

.caixa-footer {
  text-align: center;
  background-color: #d8d8d8;
  margin: 100px 0 0 0;
  padding: 10px 0 10px;
  width: 100%;
  background-image: linear-gradient(180deg, #d8d8d8, #bda8e0);
}

.texto-footer {
  margin: 10px auto;
  font-weight: bold;
  font-style: italic;
  font-size: 14px;
  color: #5b3c88;
}

.logo-footer {
  width: 50px;
}

/*-------------------------*/

/*seleção de links*/

.principal-inicial {
  width: 90%;
  margin: 30px auto;
  text-align: justify;
}

.subtitulo-principal {
  font-weight: bold;
  color: #5b3c88;
  font-size: 20px;
  display: block;
  line-height: 1.4;
  text-align: center;
}

.subtitulo-secundario {
  font-weight: bold;
  color: #5b3c88;
  font-size: 18px;
  display: block;
  line-height: 1.4;
  text-align: center;
  margin-top: 40px;
}

.principal {
  width: 90%;
  margin: 120px auto 30px;
  text-align: justify;
}

.links-homepage {
  display: block;
  background: #5b3c88;
  position: relative;
  text-align: center;
  font-size: 16px;
  padding: 25px 15px;
  margin: 30px auto;
  line-height: 1.3;
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  border: solid 1px;
  border-radius: 10px;
  box-shadow: inset 0 0 10px #ffffff;
  width: 350px
  
  ;
}

.links-homepage:hover {
  background-image: linear-gradient(180deg, #d8d8d8, #bda8e0);
  box-shadow: inset 0 0 10px #5b3c88;
  color: #5b3c88;
}

/*-------------------------*/

/*Contato*/

.contato {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.paragrafo-contato {
  margin-bottom: 5px;
}

.logo-contato {
  width: 50px;
}

/*-------------------------*/

/*Escondendo scrollbar*/

::-webkit-scrollbar {
  display: none;
}

/*-------------------------*/

/*Acessando em resolução menor*/

@media screen and (max-width: 900px) {
  .principal {
    margin-top: 130px;
  }

  .links-homepage {
    width: 80%;
  }
}

/*Acessando pelo celular*/

@media screen and (max-width: 480px) {
  .principal {
    margin-top: 170px;
  }
}

@media screen and (max-width: 300px) {
  .principal {
    margin-top: 200px;
  }
}
